h1#Hoofdtitel{
    text-align: center;
    background-color: rgb(33, 136, 33);
    color: rgb(3, 61, 1);
    font-size: 500%;
    margin-bottom: 0%;
    margin-top: 0%;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#Main{ /*Foto voor main menu*/
    background-image: url(/Img/bouwplanScouts.jpg);/*ik weet niet of deze voor opdracht 31 is of niet*/
}                                                       
#Starter{ /*Basis achtergrondkleur*/
    background-color: beige;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.FotoInschrijving{ /*Bij pagina inschrijving, opmaak*/
    width: 38vw;
    height: 28vw;
    float: left;
    
}
.FotoInschrijving1{
    width: 38vw;
    height: 28vw;
    float: right;
    
}
.Fotoleiding{ /*Bij pagina takken, opmaak voor foto's*/
    width: 50vw;
    height: 70vh;
}
@media screen and (max-width: 800px) { /*Foto veranderd bij een kleiner scherm*/
    .Fotoleiding{
        width: 30%;
        height: 30%;
    }
}
.FotoKamp{ /*Bij pagina de geuzen, opmaak*/
    width: 50vw;
    height: 30vw;
}
.Belangrijk{ /*Belangrijke info bij pagina kamp*/
    color: red;
}
#Voorwaarden{ /*Bij pagina kamp, de kampvoorwaarden*/
    text-align: center;
}
ul  { /*Menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}
li { /*Menu*/
    float: left;
}
li a { /*Menu*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover {/*dit is voor opdracht 31*/
    background-color: #111;
}
article img{/*dit is voor opdracht 31*/
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 10px;
}
article{ /*Artikel op main page*/
    float: right;
    clear: right;
    border: 4px solid green;
    background-color: rgba(255, 255, 255, 0.685);
    text-align: center;
    margin: 0%;
    padding: 0%;
    width: 35%;
}
.clearfix {/*dit is voor opdracht31*/
    overflow: auto;
}
footer p{/*dit is voor opdracht 31*/
    text-align: center;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    clear: both;
    color: brown;
    font-weight: bold;
    
}
@media screen and (max-width: 600px) { /*Voor een ander toestel*/
footer{
    text-align: center;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    clear: both;
}
}
a:active{/*dit is voor opdracht 31*/
    text-decoration: underline;
    
}
#footer :hover{
    color: red;
}
.flex-container { /*Bij pagina Nieuws, opmaak in flexbox*/
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 161, 0);
}
.flex-container > div { 
    background-color:beige;
    margin: 1vw;
    text-align: center;
    line-height: 3vw;
    font-size: 1.5vw;
}
.flex-containerFormulier { /* Pagina inschrijven, het gebruiken van flexbox*/
    display: flex;
    justify-content: center;
    background-color: green;
}
.flex-containerFormulier > div.Zijkant { /*Voor de 2 foto's langs de zijkant*/
    background-color: green;
    width: fit-content;
    margin: 10px;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
}
.flex-containerFormulier > div {
    background-color: beige;
    width: fit-content;
    margin: 10px;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
}
fieldset{
    font-size: 11px;
}
@media screen and (max-width: 600px){ /*lettertype groter maken bij het formulier bij een kleiner toestel*/
    fieldset{
        font-size: 11px;
    }
}
@media screen and (max-width: 600px) { /*Voor een ander toestel, foto's verdwijnen*/
div.Zijkant {
        display: none;
    }
}
div.Logo { /*animatie met logo vd scouts*/
    width: 20vw;
    height: 20vw;
    position: relative;
    animation-name: Scoutslogo;
    animation-duration: 8s;
    animation-iteration-count: infinite; 
}
  @keyframes Scoutslogo {
    0%   {left:-3vw; top:0vh;}
    50%  {left:81vw; top:0vh;}
    100% {left:-3vw; top:0vh;}
}
@media screen and (max-width: 600px) { /* op een kleiner toestel, animatie verdwijnt*/
    div.Logo{
        display: none;
    }
}